header{
  font-family: Circular, Roboto, Helvetica Neue, sans-serif;
  color: rgb(84,86,90);
  text-align: center;
}

h1 {
  font-family: Circular, Roboto, Helvetica Neue, sans-serif;
}

body {
  background-color: rgb(236,240,236);
}
